@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Application Pizzas</h1>
        <p class="lead">Cours ASP.NET Module 5</p>
        @Html.ActionLink("Liste des pizzas", "Index","Pizza")
    </div>