@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>DOJO</h1>
        <ul>
            <li>@Html.ActionLink("Liste des samourais", "Index", "Samourais")</li>
            <li>@Html.ActionLink("Liste des armes", "Index", "Armes")</li>
        </ul>
    </div>

